body {
  font-family: "Didot", serif;
  background-image: url('./images/Wallpaper 1.PNG');
  background-size: cover;
  background-repeat: no-repeat;
}

.closebutton {
  width: 16px;
  height: 16px;
  cursor: pointer;
  background-color: #FFD6E4;
  border-radius: 6px;
  border: double 1px rgba(0, 0, 0, 0.15);
  margin-left: 6px;
}

.window {
  border: solid;
  border-width: 2px;
  border-radius: 8px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px;
  background-color: #ffffff;
}

.windowheader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: move;
}

.selected {
  border-radius: 20px
}

#board{
  border: 1px solid #c4acac;
  background: white;
  cursor: crosshair;
  margin-top: 10px;
}

.calc {
  background: gray;
  padding: 20px;
  border-radius: 10px;
  margin-top: 10px
}

.calc form input {
  border: 0;
  outline: 0;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  margin: 10px;
}