body {
  font-family: "Didot", serif;
  background-image: url('./images/Wallpaper 1.PNG');
  background-size: cover;
  background-repeat: no-repeat;
}

.closebutton {
  width: 16px;
  height: 16px;
  cursor: pointer;
  background-color: #FFD6E4;
  border-radius: 6px;
  border: double 1px rgba(0, 0, 0, 0.15);
  margin-left: 6px;
}

.window {
  border: solid;
  border-color: #c4acac;
  border-width: 2px;
  border-radius: 8px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px;
  background-color: #ffffff;
}

.windowheader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: move;
}

.selected {
  border-radius: 20px
}

#board{
  border: 2px solid #c4acac;
  background: white;
  cursor: crosshair;
  margin-top: 10px;
}

#toolbar button {
  border-width: 1px;
  border-radius: 50px;
  border-color: #c4acac;
  background: #ffe5ec;
  width: 50px;
  height: 22px
}

.calc {
  background: #ffc2d1;
  padding: 20px;
  border-radius: 10px;
  margin-top: 10px
}

.calc form input {
  border: 0;
  outline: 0;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  margin: 10px;
  background: #ffe5ec
}

form .display {
  display: flex;
  justify-content: flex-end;
}

form .display input {
  text-align: right;
  flex: 1;
  font-size: 35px;
  background: #ffffff
}

form input.equal {
  width: 125px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  padding: 3px;
  width: 150px;
  height: 437px;
  max-height: 437px;
  overflow-y: scroll;
  background: #ffe5ec;
}

.sidebar .entry {
  cursor: pointer;
  margin-left: 10px;
  margin-bottom: 10px;
  width: 125px;
  height: 60px;
  border-bottom: solid #000000 1px;
}

.sidebar .entry:hover {
  color: #ffffff;

}